<html>
  <body>

    <div class="container">
      <div class="row">
        <div class="col">
        <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
          <div class="alert alert-primary" role="alert">
            <%= message %>
          </div>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>



  <%= form_tag url_for(action: 'create'), method: "post" do %>


  <%= label_tag 'first_name' %>
  <%= text_field_tag 'first_name'%>
  <br /> <br />

  <%= label_tag 'last_name' %>
  <%= text_area_tag 'last_name'%>
  <br /> <br />

  <%= label_tag 'email' %>
  <%= text_field_tag 'email'%>
  <br /> <br />

  <%= label_tag 'password' %>
  <%= text_area_tag 'password'%>
  <br /> <br />

  <%= label_tag 'age' %>
  <%= text_field_tag 'age'%>
  <br /> <br />

  <%= label_tag 'description' %>
  <%= text_field_tag 'description'%>
  <br /> <br />


  <%= submit_tag "Create User" %>
<% end %>



  </body>
</html>